/* @import '../../node_modules/bootstrap/dist/css/bootstrap.min'; */


#dscaffolding_link img{
  width: 32px;
}

#dscaffolding_link {
  width: -webkit-fill-available;
}

.chatin_mode{
  cursor: pointer;
}

.chatin-attachment-button {
  width: 130px;
  height: 60px;
  background-color: #96DB0B;
}

.chatin_question{
  cursor: pointer;
}

.chatin_answer{
  cursor: pointer;
}
